.topbar{
display:flex;
align-items:center;
gap:20px;
padding:20px;
}

.menu-btn{
font-size:40px;
cursor:pointer;
}

.sidebar{
position:fixed;
top:0;
left:-280px;
width:260px;
height:100%;
background:#1b1b1b;
transition:.3s;
padding-top:80px;
z-index:999;
}

n:none;
}

.sidebar a:hover{
background:#333;
}

/* 새 메뉴 버튼 */

.play-btn{
    background:#00c853;
}

.news-btn{
    background:#2196f3;
}

.discord-btn{
    background:#5865F2;
}

.trailer-btn{
    background:#e53935;
}

.language-btn{
    background:#ff9800;
}

.contact-btn{
    background:#00acc1;
}
