/* 새 메뉴 버튼 */

.play-btn{
    background:#00c853;
}

.news-btn{
    background:#2196f3;
}

.discord-btn{
    background:#5865F2;
}

.trailer-btn{
    background:#e53935;
}

.language-btn{
    background:#ff9800;
}

.contact-btn{
    background:#00acc1;
}

.settings-btn{
    background:#757575;
}

.play-btn,
.news-btn,
.discord-btn,
.trailer-btn,
.language-btn,
.contact-btn,
.settings-btn{
    display:block;
    margin:12px 20px;
    padding:14px;
    border-radius:12px;
    color:white;
    text-decoration:none;
    font-weight:bold;
    text-align:center;
    transition:.2s;
}

.play-btn:hover,
.news-btn:hover,
.discord-btn:hover,
.trailer-btn:hover,
.language-btn:hover,
.contact-btn:hover,
.settings-btn:hover{
    transform:scale(1.03);
    filter:brightness(1.15);
}
